body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.top {
    height: 500px;   
    padding: 20px 200px; 
    background: #1f2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-width: 1000px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.left {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
    flex-shrink: 0;
}

.right {
        flex-shrink: 0;
        margin-left: 69px;
        margin-right: 75px;
        display: flex;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    color: #e5e7ebb6;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7ebb6;
}
.topbody{
    display: flex;
    justify-content: space-between;
}

.leftbody{
    height: 200px;
    width: 400px;
    flex-shrink: 0;
}

.leftbodytitle {
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 800;
    margin-bottom: 16px;
}

.leftbodycontent {
    font-size: 18px;
    color: #e5e7ebb6;
    margin-bottom: 16px;
    text-align: justify;
}

.uno {
    background: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 8px 32px;
    border-radius: 8px;
    border: none;
}

.rightbody {
    width: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-left: 36px;
}

img{
    width: 300px;
    margin-right: 150px;
    border-radius: 4px;   
    border: 2px solid rgba(255, 255, 255, 0.713); 
}

.onemid {
    height: 400px;  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 36px 200px;
        margin: auto;
    min-width: 1000px;
}

.topmid {
    font-size:36px;
    color: #1F2937; 
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: ;
    margin: 32px;
    min-width: 500px;
    font-family: Papyrus;
}

.midcontent {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.squares {
    height: 150px;
    width: 150px;
    border: 4px solid #3882F6;
    border-radius: 8px;
}

.squares img {
    width: 150px;
    height: 150px;
    border-radius: 4px;
    border: none;
}

.text {
    width: 150px;
    text-align: center;
    color: gray;
}

.twomid {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100px;
    padding: 150px 420px;
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    max-height: 300px;
    min-width: 560px;
}

.quote {
    text-align: center;
    font-size: 36px; 
    font-style: italic; 
    font-weight: lighter;
    color: #1f2937d7;
    flex-shrink: 0;
    min-width: 500px;
}

.author {
    font-weight: bold;
    font-size: 16px;
    align-self: center;
    flex-shrink: 0;
    margin-left: 600px;
    min-width: 200px;
}

.threemid {
    display: flex;
    align-items: center;
    height: 150px;
    padding: 100px 300px;
}

.blue {
    flex: 1;
    background: #3882F6;
    height: 150px;
    width: 300px;
    min-width: 800px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bluelefttext {
    color: white;
    font-weight: 650;
    font-size: 24px;
}

.bluetextbottom {
    color: rgba(255, 255, 255, 0.669);
    font-size: 16px;
}

.dos {
    background: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 8px 32px;
    border-radius: 8px;
    border: 2px solid white;
}

.footer {
    height: 100px;
    color: #e5e7ebb6;
    background: #1F2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    min-width: 1400px;
}